/* phpBB Statistics MOD 
---------------------------------------- */

/* stats_icon */
.icon-stats { 
	background-image: url("{T_THEME_PATH}/images/icon_stats.gif");
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 1px 0 0 17px;
}

.rtl .icon-stats {
	background-position: 100% 50%;
	padding: 1px 17px 0 0;
}

#stats dl.details {
	font-size: 1em;
}

#stats dl.details dt{
	width: 50%;
}

#stats dl.details dd {
	width: 45%;
}

#stats {
	font-size: 1.1em;
}

#stats h3 {
	font-size: 0.9em;
}

#stats .sort_by {
	text-align: center;
	width: 100%;
}

#stats .graph {
	background-color: #67A3EB;
}

ul.stats_graph {
	display: block;
    list-style-type: none;
    margin: 0;
}

ul.stats_graph li {
	display: block;
	margin: 0;
	overflow: hidden;
}

ul.stats_graph dt {
	width: 48%;
	float: left;
}

ul.stats_graph li.header dd {
	font-weight: bold;
}

ul.stats_graph dd.bar {
	display: block;
	float: left;
	padding-bottom: 5px;
	width: 30%;
}

ul.stats_graph dd.count {
	display: block;
	float: left;
	width: 10%;
	text-align: center;
}

ul.stats_graph dd.percent {
	display: block;
	float: left;
	width: 9%;
	text-align: center;
}

.stats_data {
	padding-left: 4px;
}

.stats_graph dd {
	padding: 0 4px;
}