/* phpBB Statistics MOD 
---------------------------------------- */

/* stats_icon */
.icon-stats { 
	background-image: url("{T_THEME_PATH}/images/icon_stats.gif");
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 1px 0 0 17px;
}

.rtl .icon-stats {
	background-position: 100% 50%;
	padding: 1px 17px 0 0;
}

#stats dl.details {
	font-size: 1em;
}

#stats dl.details dt{
	width: 50%;
}

#stats dl.details dd {
	width: 45%;
}

#stats {
	font-size: 1.1em;
}

#stats h3 {
	font-size: 0.9em;
}


/*END MOD*/
