/* phpBB Statistics MOD - Print Style Sheet
---------------------------------------- */

.column1 {
	clear: left;
	float: left;
	width: 49%;
}

.column2 {
	clear: right;
	float: right;
	width: 49%;
}

dl.details dt {
	width: 50%;
	clear: left;
	float: left;
	display: block;
	text-align: right;
}

dl.details dd {
	width: 45%;
	float: left;
	padding-left: 5px;
}

h3 {
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 2px;
	text-transform: uppercase;
}

#stats .sort_by {
	display: none;
}

#stats .graph {
	border: 1px solid #000000;
	margin-bottom: 1px;
}

#stats img {
	display: block;
}

ul.stats_graph {
	display: block;
    list-style-type: none;
    margin: 0;
}

ul.stats_graph li {
	display: block;
	margin: 0;
	overflow: hidden;
}

ul.stats_graph dt {
	width: 48%;
	float: left;
}

ul.stats_graph li.header dd {
	font-weight: bold;
}

ul.stats_graph dd.bar {
	display: block;
	float: left;
	width: 30%;
}

ul.stats_graph dd.count {
	display: block;
	float: left;
	width: 10%;
	text-align: center;
}

ul.stats_graph dd.percent {
	display: block;
	float: left;
	width: 9%;
	text-align: center;
}

.stats_data {
	padding-left: 4px;
}

.stats_graph dd {
	padding: 0 4px;
}
